body{
    margin:0;
    padding:0;
    background-color: rgb(245, 245, 220);
    input{padding: 10px;}
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    button{
        cursor:pointer;
        padding: 10px 15px;
        li{margin: 5px 0;}
    }

}